/* .add_modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
} */

/* .add_modal__container {
  position: relative;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
} */

.modal__close {
  display: flex;
  position: absolute;
  left: 424.72px;
  top: -42px;
  right: 120px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url(../images/Close\ Icon.svg) no-repeat center;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__container {
  margin: 0 auto;
}

.add_modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;

  max-width: 330px;
  max-height: 23px;
  margin: 34px 64px 54px 36px;
  color: rgba(0, 0, 0, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0 36px;
}

.modal__input_add {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.9px;

  border: none;
  padding-bottom: 13.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
}

.modal__input_add:last-of-type {
  margin-bottom: 48px;
}

.modal__input_add::placeholder {
  color: rgba(0, 0, 0, 1);
}

.modal__save {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding: 13.66px 124px 18.49px 125px;

  width: 100%;
  height: 50.15px;
  margin-bottom: 36.51px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.modal__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal_type_add {
    /* display: none; */
    position: fixed;
    /* top: -100px; */
    left: -120px;
    /* width: 100%; */
    height: 100vh;
    height: 100%;
    /* margin: 25px 125px; */
    margin: 0px 125px;
    padding-top: 19px;
    z-index: 1;
  }

  .modal__container {
    position: fixed;
    height: 322px;
  }

  .modal__close {
    display: flex;
    position: absolute;
    width: 26px;
    height: 26px;
    margin-bottom: 18.62px;
    z-index: 3;
  }

  .modal__form {
    margin: 0 22px;
  }

  .modal__input_add {
    width: 228px;
    height: 27px;
    padding-bottom: 13px;
  }

  .modal__input_add:nth-child(1) {
    margin-bottom: 30px;
  }

  .modal__input_add:nth-child(2) {
    margin-bottom: 45px;
  }

  .modal__save_button {
    /* font-family: "Inter", Arial, sans-serif; */
    font-size: 14px;
    line-height: 16.94px;
    padding: 14.52px 82px 14.52px 82px;
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}

/* @media screen and (max-width: 768px ){}
@media screen and (max-width: 621px ){} */

@media screen and (max-width: 320px) {
  .modal_type_add {
    /* display: none; */
    position: fixed;
    /* top: 0;
    left: 0; */
    top: 0;
    left: 0;
    width: 100%;
    /* width: 90%; */
    height: 100%;
    margin: 123px 19px;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .modal__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 282px;
    height: 322px;
    z-index: 1;
  }

  .modal__close {
    display: flex;
    position: relative;
    width: 26px;
    height: 26px;
    left: 265px;
    margin-bottom: 18.62px;
    z-index: 1;
  }

  .modal__title {
    font-size: 18px;
    width: 238px;
    height: 22px;
    margin: 25px 22px 48px 22px;
  }

  .modal__form {
    margin: 0 22px;
  }

  .modal__input_add {
    font-size: 14px;
    line-height: 16.94px;
    width: 238px;
  }

  .modal__input_add:nth-child(1) {
    margin-bottom: 30px;
    padding: 0;
  }

  .modal__input_add:nth-child(2) {
    margin-bottom: 45px;
    padding: 0;
  }

  .modal__save {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    width: 238px;
    height: 46px;
    margin: 0 0 25px 0;
    padding: 14px 100px;
  }
}

/* .modal_opened {
  display: flex;
  margin-top: 86px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
} */
