.card {
    /* this will be a display */
    width: 282px;
    /* height: 361px; */
    border-radius: 10px 10px 0 0;
    
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;

}

.card__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0 0 10px 10px;

}

.card__title {

}

.card__footer_like_button {
    width: 21px;
    height: 18px;
}