/* .modal_type_image {
  display: none;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
} */

/* .modal__image_container {
  position: relative;
  max-width: 75vw;
  height: 75vh;
  border-radius: 10px;
  z-index: 1;
  margin: 0 auto;
} */

/* .modal__close {
  display: flex;
  position: absolute; */
  /* top: 15px;
    right: 130px; */
  /* top: -36px;
    right: 8px; */
  /* top: -48px;
  right: -40px; */
  
  /* max-width: 40px;
  max-height: 40px;
  border: none;
  background: transparent url(../images/Close\ Icon.svg) no-repeat center;
  cursor: pointer;
} */

/* .modal__close:hover {
  opacity: 60%;
} */

/* .modal__image_container {
  display: flex;
  margin: 90px 232px;
  background-color: pink;
} */

.modal__image {
  height: 75vh;
  max-width: 75vw;
  max-height: 75vh;
  margin: 90px 232px;
  margin: 0;
  padding: 0;
}

/* .modal__image_title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  position: absolute;
  width: 291px;
  height: 12px; */
  /* bottom: 0px;
  left: 0px; */
  /* bottom: 11px; */
  /* bottom: 59px; */
  /* left: 201px; */
  /* bottom: 92px;
  left: 421px; */
  /* margin-top: 10px; */
  /* background-color: pink; */
/* } */

@media screen and (max-width: 1280px) {
  /* .modal_type_image {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
  } */

  /* .modal__image_container {
    max-width: 240px;
    max-height: 299px;
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
  } */

  /* .modal__image {
    position: relative;
    top: 20px;
    width: 433px;
    height: 540px;
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
    padding: 0;
  } */

  /* .modal__close {
    display: flex;
    position: absolute;
    top: 15px; */
    /* right: -230px; */
    /* left: 942px; */
    /* top: -50px; */
    /* top: 0; */
    /* right: -230px; */
    /* left: 30px; */
    /* left: 384px; */
  /* } */

  /* .modal_image_title {
    bottom: 92px;
    left: 421px;
  } */
}
@media screen and (max-width: 768px) {
  /* .modal__image_container {
    width: 240px;
    height: 299px;
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
  } */

  /* .modal__close {
    display: flex;
    position: absolute;
    top: -24px;
    top: 20px;
    right: -35px;
    left: 650px;
   
  } */
}

@media screen and (min-width:320px) and (max-width: 480px) {
  /* .modal__image_title {
    bottom: 120px;
    right: 320px;
  } */

  /* .modal__image_container {
    position: absolute;
    top: 206px;
    left: 43px;
    width: 75vw;
    height: 75vh;
    margin: 0;
  } */

  .modal__image {
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
    padding: 0;
  }

  .modal__close {
    display: flex;
    position: absolute;
    /* top: -42px; */
    top: 32px;
    /* right: -13px; */
    left: 276px;
    /* right: -53px; */
  }
}
