.image_modal {
    display: none;
    /* display: flex; */
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}


.image_modal__container {
    position: relative;
    width: 75vw;
    height: 75vh;
    border-radius: 10px;
    z-index: 1;
    margin: 0 auto;
}

.image_modal__close {
    display: flex;
    position: absolute;
    /* top: 15px;
    right: 130px; */
    /* top: -36px;
    right: 8px; */
    top: -48px;
    right: -40px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent url(../images/Close\ Icon.svg) no-repeat center;
    cursor: pointer;
}

.image_modal__close:hover {
    opacity: 60%;
}

.image_modal__container {
    display: flex;
    margin: 90px 232px;
    /* background-color: pink; */
}

.image_modal_opened {
    display: flex;
}

.image_modal__image {
    /* height: 75vh; */
    width: 100%;
    height: 100%;
    /* margin: 90px 232px; */
    margin: 0;
    padding: 0;
}

.image_modal__title {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    position: absolute;
    width: 291px;
    height: 12px;
    bottom: 0px;
    left: 0px;
    margin-top: 10px;
    /* background-color: pink; */
}

@media screen and (max-width: 1280px) {
    .image_modal__container {
        width: 240px;
        height: 299px;
        margin: 0;
    }
    
    .image_modal__image{
        position: relative;
        top: 20px;
        width: 433px;
        height: 540px;
        margin: 0;
        padding: 0;
    }

    .image_modal__close {
        display: flex;
        position: absolute;
        top: -48px;
        right: -230px;
        
    }
}
@media screen and (max-width: 768px) {
    .image_modal__container {
        width: 240px;
        height: 299px;
        margin: 0;
    }
    
}

@media screen and (max-width: 320px) {
    .image_modal__container {
        width: 75vw;
        height: 75vh;;
        margin: 0;
    }

    .image_modal__image{
        width: 240px;
        height: 299px;
        margin: 0;
        padding: 0;
    }
    
}