.cards {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (min-width: 1280px) and (max-width: 1630px) {
  .cards {
    margin-top: 36px;
  }
}

@media screen and (min-width: 557px) and (max-width: 1279px) {
  .cards {
    margin-top: 36px;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    margin-top: 36px;
  }
}
