.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__trash_image {
  display: flex;
  /* background: transparent url(../images/active-trash.svg) center no-repeat; */
  /* position: absolute; */
  position: relative;
  width: 18px;
  height: 19.3px;
  /* top: 24px;
  left: 244px; */
  top: 34px;
  left: 244px;
  cursor: pointer;
}

.card__trash_image:hover {
  /* background: transparent url(../images/trash.svg) center no-repeat; */
  opacity: 60%;

}

.card__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  width: 193px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}


.card__like {
  background: transparent url(../images/hearts.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
}

.card__like_active {
  background: transparent url(../images/active_like.svg) center no-repeat;
}
.card__like:hover {
  opacity: 50%;
  cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 580px) {
  .card {
    overflow: hidden;
  }
}
