.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  /* height: 100vh; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.modal__container {
  position: relative;
  /* width: 430px; */
  width: 100%;
  max-width: 430px;
  /* height: 330px; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.modal__close {
  display: flex;
  position: absolute;
  /* left: 424.72px; */
  top: -49px;
  /* right: 120px; */
  right: -37px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url(../images/Close\ Icon.svg) no-repeat center;
  cursor: pointer;
  transition: all 4s ease-out;
}

.modal__close:hover {
  opacity: 60%;
}
/* 
.modal__container {
  margin: 0 auto;
} */

.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;

  max-width: 330px;
  max-height: 23px;
  margin: 34px 64px 54px 36px;
  color: rgba(0, 0, 0, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0 36px;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.9px;
  width: 100%;

  border: none;
  padding-bottom: 13.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
}

/* .modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 1);
} */

.modal__save {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  /* padding: 13.66px 124px 18.49px 125px; */

  width: 100%;
  height: 50.15px;
  margin-bottom: 36.51px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.modal__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__form_input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.9px;

  border: none;
  width: 100%;
  padding-bottom: 13.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
}

.modal__image {
  height: 75vh;
  max-width: 75vw;
  max-height: 75vh;
  margin: 90px 232px;
  margin: 0;
  padding: 0;
}

.modal__image_container {
  position: relative;
  object-fit: cover;
  /* max-width: 75vh;
  max-height: 75vh; */
}
/* 
@media screen and (max-width: 1280px) {
 
} */

@media screen and (max-width: 768px) {
  /* .modal {
    position: fixed;
    top: -100px;
    left: -120px;
    width: 100%;
    height: 100vh;
    margin: 25px 125px;
    z-index: 1;
  } */

  /* .modal__container {
    position: fixed;
    margin: 0;
    max-height: 322px;
  } */

  /* .modal__close {
    display: flex;
    position: absolute;
    width: 26px;
    height: 26px;
    margin-bottom: 18.62px;
    z-index: 3;
  } */

  /* .modal__form {
    margin: 0 22px;
  } */

  /* .modal__input {
    max-width: 228px;
    max-height: 27px;
    padding-bottom: 13px;
  } */
  /* 
  .modal__input:nth-child(1) {
    margin-bottom: 30px;
  }

  .modal__input:nth-child(2) {
    margin-bottom: 45px;
  } */

  /* .modal__save_button {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    padding: 14.52px 82px 14.52px 82px;
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  } */
}

/* @media screen and (max-width: 768px ){}
@media screen and (max-width: 621px ){} */

@media screen and (min-width: 320px) and (max-width: 480px) {
  /* .modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 123px 19px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
    padding: 0;
  } */

  .modal {
    padding-left: 22px;
    padding-left: 16px;
  }

  .modal__container {
    /* width: calc(100% - 20px); */
    height: 100%;
    max-width: 282px;

    max-height: 322px;
    z-index: 1;
  }

  .modal__close {
    /* display: flex;
    position: absolute; */
    width: 26px;
    height: 26px;
    /* left: 265px; */
    /* /* top:-42px; */
    right: 7px;
    /* top: -58px; */
    /* left: 0; */
    /* left: 260px; */
    margin-bottom: 18.62px;
    z-index: 1;
  }

  .modal__title {
    font-size: 18px;
    width: 238px;
    height: 22px;
    margin: 25px 22px 48px 22px;
  }

  .modal__image {
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
    padding: 0;
  }

  .modal__form {
    /* padding:0; */
    margin: 0 22px;
  }

  /* .modal__input {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 238px;
  } */
  /* 
  .modal__input:nth-child(1) {
    margin-bottom: 30px;
    padding: 0;
  }

  .modal__input:nth-child(2) {
    margin-bottom: 45px;
    padding: 0;
  } */

  /* .modal__save {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    width: 238px;
    height: 46px;
    margin: 0 0 25px 0;
    padding: 14px 100px;
    } */

  .modal__save {
    font-size: 14px;
    font-weight: 400;
    max-width: 282px;
    max-height: 322x;
    margin-top: 26px;
    border-radius: 2px;
    margin-left: 0px;
    margin-right: 0;
  }
}

.modal_opened {
  opacity: 1;
  pointer-events: auto;
}
