.page {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 10px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 780px) {
  .page__content {
    margin: 0 34px;
  }
}

@media screen and (max-width: 480px) {
  .page__content {
    margin: 0;
  }

  .page__section {
    margin: 0;
    padding: 0;
  }
}
