.profile {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  
}

.profile__header {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* width: 80%; */
    /* margin: 0;  */

    display: flex;
    align-items: center;
    width: 880px;
    height: 120px;
}

.profile__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile__header_name_outer_group{
    /* display: flex;
    align-items: center;
    width: 880px;
    height: 120px; */
}

.profile__header_name_inner_group{
    margin-left: 20px;
}

.profile__name {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 0 ;
}

.profile__subtitle{
    width: 415px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}

.profile__edit_button {
    /* position: relative;
    top: 0;
    left: 100px; */
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid #FFFFFF;

}

.profile__edit_button_image {
    width: 10px;
    height: 10px;
}

.profile__add_button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    background-color: black;

}

.profile__add_button_image {
    width: 22px;
    height: 22px;
}

.profile__content {
    /* This will be a display grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 880px; */
    width:100%;
    height: 742px;
    gap: 17px 20px;
}

